:root {
  --graphql-logo-color: #e535ab;
  --graphql-bg-color: #161e26;

  --invalid: rgb(252, 120, 120);
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 100;
}
