.events-control {
  display: flex;
  margin: 1rem;
}

.events-list {
  list-style: none;
  padding: 1rem;
}

.events-list li:hover {
  background-color: #f9f9f9;
}

.events-list li {
  align-items: center;
  box-shadow: 0px 0px 2px #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  padding: 1rem;
}

.events-list li button {
    width: 140px;
}

.events-list li h2 {
  color: var(--graphql-logo-color);
  margin: 0;
}
