.main-nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    background-color: var(--graphql-bg-color);
    padding:  0 2%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

.main-nav__logo img {
    top: 6px;
    position: relative;
}

.main-nav__logo h1{ 
    color: var(--graphql-logo-color);
    display: inline-flex;
    font-size: 1.4rem;
    position: relative;
}
.main-nav__items ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    list-style-type: none;
}

.main-nav__items ul li {
    padding: 0 2%;
}

.main-nav__items ul li a {
    color: rgba(255,255,255,.7);
    cursor: pointer;
    padding: 0 3px;
    text-decoration: none;
}

.main-nav__items ul li a.active, 
.main-nav__items ul li a:hover {
    color: #fff;
}